<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  {% if site.name %}
  <meta name="author" content="{{ site.name }}">
  <meta name="copyright" content="&copy; {{ site.name }} {{ site.time | date: '%Y' }}">
  {% endif %}
	<meta property="og:site_name" content="{{ site.title }}">
  <meta property="article:publisher" content="{{ site.url }}" />
  <meta property="article:published_time" content="{{ page.date }}" />
	<meta name="robots" content="noindex">
  
  <meta property="og:image" content="https://images.weserv.nl/?url={% if page.img %}{{ site.url }}{{ page.img }}{% else %}{{ site.url }}assets/uploads/latency.png{% endif %}&w=225&h=225&t=square&q=90">
  <meta property="og:image:width" content="225">
  <meta property="og:image:height" content="225">
  
  <link rel="dns-prefetch" href="https://i.imgur.com">
	<link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
	<link rel="dns-prefetch" href="https://raw.githack.com">
  <link rel="dns-prefetch" href="https://images.weserv.nl">
  
	<link rel="icon" href="/assets/fav-32.png" sizes="32x32" />
	<link rel="icon" href="/assets/fav-128.png" sizes="128x128" />
	<link rel="icon" href="/assets/fav-256.png" sizes="256x256" />
	
	<link rel="apple-touch-icon-precomposed" href="/assets/fav-128.png">
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/assets/fav-128.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/fav-128.png">
  <link rel="apple-touch-icon-precomposed" sizes="180x180" href="/assets/fav-256.png">
	
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.url }}" />
</head>
