---
layout: default
---
         <div class="site-inner">
            <div class="content-sidebar-wrap">
               <main class="content">
                  <div class="breadcrumb"><span><span><a href="/">Trang chủ</a> » <span class="breadcrumb_last">{{ page.title | capitalize }}</span></span></span></div>
                  <div class="archive-description taxonomy-archive-description taxonomy-description">
                     <h1 class="archive-title">{{ page.title | capitalize }}</h1>
                  </div>
								  {% for post in page.posts %}
                  <article itemscope itemtype="https://schema.org/CreativeWork">
                     <header class="entry-header">
                        <h2 class="entry-title" itemprop="headline"><a class="entry-title-link" rel="bookmark" href="{{ post.url }}">{{ post.title }}</a></h2>
                        <p class="entry-meta"><time class="entry-time" itemprop="datePublished" datetime="{{ post.date }}">{{ post.date | date: "%d/%m/%Y" }}</time> <span class="entry-author" itemprop="author" itemscope itemtype="https://schema.org/Person"><a href="/author" class="entry-author-link" itemprop="url" rel="author"><span class="entry-author-name" itemprop="name">{{ site.author }}</span></a></span> </p>
                     </header>
                     <div class="entry-content" itemprop="text">
                        <a class="entry-image-link" href="{{ post.url }}" aria-hidden="true">
													<img width="150" height="150" src="https://images.weserv.nl/?url={% if post.img %}{{ site.url }}{{ post.img }}{% else %}https://i.imgur.com/RCiUEv6.png{% endif %}&w=150&h=150&t=square&q=90" class="alignleft post-image entry-image" alt="{{ post.title }}" />
                        </a>
                        <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
                     </div>
                  </article>
								 {% endfor %}
               </main>
