---
layout: compress
---

<!DOCTYPE html>
<html>
  {% include head.html %}
	   <body class="home blog wp-schema-pro-1.2.0 custom-header header-image content-sidebar primary-nav" itemscope itemtype="https://schema.org/WebPage">
		 <style type="text/css">.site-title a{background:url(/assets/logo.png) no-repeat!important}</style>
    {% include header.html %}
        {{ content }}
    {% include footer.html %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/instantclick/3.1.0/instantclick.min.js"></script>
		<script data-no-instant>InstantClick.init();</script>
   </body>
</html>
